#leaderboard-container {
  display: flex;
  flex-wrap: wrap; }

#leaderboard-header {
  width: 100%;
  background-color: white; }

#leaderboard-topuser {
  width: 33%; }

#leaderboard-aside {
  width: 66%; }
