//====== Chancellor Color Palate: derived from looking at http://stmacademy.org/ ======
    $maroonDark: "#66000E";
    $maroonSpecialDark: "#630A16";
    $maroonLight: "8A0113";

    $white: "#FFFFFF"; // Because the white on websites is not always pure as #FFFFFF

    $greyDark: "#303030";
    $greyLight: "7E7E7E";
    $greySpecialLight: "E2E2E2";
    $greySpecialLight2: "A5A5A5";
    $greySpecialDark: "#6F6F6F";

    //Recomendations....
    // backgrounds: $greySpecialLight    $maroonDark    $white   $greyDark
    // text: $white   $greyDark   $greyLight   $greySpecialDark  $greySpecialLight2
    // ...etc... see http://stmacademy.org/ , the chancellor jcl website should try to match color wise...


//=================================== Question Form Page ==============================
